body {
  font-family: "Arial","SimHei","SimSun",sans-serif !important;
  background-color: white;
}
a {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Arial","SimHei","SimSun",sans-serif !important;
  outline: 0 none;
}
a:active,
a:hover,
a:link,
a:visited {
  outline-width: 0;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul,
li {
  list-style: none;
}
p {
  font-family: 'Microsoft YaHei' !important;
}
.clearfix {
  content: '';
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.container:after{

  content: '.';
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
*{
  margin: 0;
  padding: 0;
}
.f-left{
  float: left;
}
.f-right{
  float: right;
}
$imageRoot : "./images/";
/*create by newhuan*/